.main-container {
    height:80vh;
    width:80%;
    background-color: rgb(219, 219, 219);
    overflow: scroll;
    border-radius: 10px;
    box-shadow: 5px rgb(92, 92, 92);
}
.header-container{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    align-items: baseline;
}
.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reject-all-container {
    display:flex;
    align-items:center;
    justify-content: center;
    height: cover;
    width: 300px;
}
label{
   padding:10px;
}
select{
  background-color: transparent;
  border: 2px solid black;
  padding: 1 1em 0 0;
  margin-top:5px;
  margin-left:10px;
  line-height: inherit;
}
form{
    display:flex;
    flex-direction:column;
}