.user-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    border-bottom: 1px solid grey;
    padding: 20px;

}
.picture-container, 
.name-container, 
.email-container, 
.phone-container,
.idea-container
.button-container{
    width:100%;
    display:flex;
    justify-content: center;
}
